.divContainer {
    margin-top: 60px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 60px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}