.tituloCarrito {
    margin-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: rgb(54, 54, 54);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.eliminarBoton {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius:  5px;
    height: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    background-color:rgb(210, 79, 59);
    color: white;
    border: 0px;
    cursor: pointer;
}

.verProductoBoton {
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius:  5px;
    height: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    background-color:rgb(246, 246, 246);
    color: rgb(54, 54, 54);
    border: 0px;
    cursor: pointer;
}

.eliminarBoton:hover {
    background-color:rgb(170, 72, 57);
}

.verProductoBoton:hover {
    background-color:rgb(235, 235, 235);
}

.carritoVacioTxt {
    margin-top: 40px;
    text-align: center;
    color: rgb(54, 54, 54);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cart-widget {
    margin-right: 400px;
    margin-left: 400px;
}


.cart-widget h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(54, 54, 54);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
.cart-item {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 10px;
    border-radius: 5px;
    line-height: 30px;
    padding-bottom: 40px;

}

.cart-item img {
    position: absolute;
    right: 400px;
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
  
.cart-item h2 {
    font-size: 18px;
    margin: 0;
    color: rgb(54, 54, 54);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
.cart-item p {
    margin: 5px 0;
    color: rgb(54, 54, 54);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
.cart-total {
    text-align: right;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(54, 54, 54);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800px;
}
  
.cart-buttons {
    margin-top: 10px;
    margin-bottom: 100px;
}
  
.cart-buttons button {
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius:  5px;
    height: 60px;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color:rgb(246, 246, 246);
    color: rgb(54, 54, 54);
    border: 0px;
}
  
.cart-buttons button:hover {
    background-color:rgb(235, 235, 235);
}

.cart-buttons button:last-child {
    margin-right: 0;
}
  